.jumbotron {
    background: #0abde3;
    color: #fff;
}

.search-bar {
    padding: 15px;
    font-weight: 600;
    font-size: 1.25em;
    background-color: #fff;
}
  
.search-bar::placeholder { 
    color: #f3f3f3;
    opacity: 1; 
}
  
.search-btn {
    font-weight: 700;
    padding: 17px;
}

.result-message {
    color: #dedede;
    text-align: center;
    padding-top: 150px;
}

.result-card-body {
    min-height: 500px;
}

.keyword-text {
    font-size: 1.90em;
    font-weight: 700;
}

.category-text {
    font-weight: 600;
    text-transform: uppercase;
    color: #ffa71f;
}

.synonym-text {
    font-size: 1rem;
    opacity: 0.5;
    font-weight: bold;
}

